<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
    <display-name>My Hello World Web App</display-name>
    
    <servlet>
        <servlet-name>MainServlet</servlet-name>
        <servlet-class>eu.eisti.p2k19.fintech.fbo.servlet.MainServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>MainServlet</servlet-name>
        <url-pattern>/main</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>CalculetteCredit</servlet-name>
        <servlet-class>eu.eisti.p2k19.fintech.fbo.servlet.CalculatorServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CalculetteCredit</servlet-name>
        <url-pattern>/calculette-credit</url-pattern>
    </servlet-mapping>
    
</web-app>
